/*descriptive color variables*/ 

$blue      :blue;
$purple    :purple;
$white     : #fff; 
$black     :#000;
$grey      :#878787;
$red       :red; 
$yellow    :yellow;
$green     :green;


/*Media query breakpoints */

$brk-narrow  :'(min-width:768px)';
