/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color:$white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;

   @media #{$brk-narrow} {
    padding: 10px 30px;
   }

  
  
}

.default {
  background-color:$blue;
}

.error {
  background-color: $red;
}

.info {
  background-color: $purple;
}

.success {
  background-color:$grey;
}

.warning {
  background-color: $red;
}